<mat-card>
    <div fxLayout="column"  fxLayoutAlign="center" id="main" style="min-height: 66vh">
        <h1 class="text-center" fxLayout="row" fxLayoutAlign="space-between center">
<!--
            <img id="front-page-logo-insit" src="assets/idjovem_favicon-180x180.png"/>
            <div fxFlex fxLayout="column">
                <h2>Painel de Situação</h2>
                <h3></h3>
            </div>
-->
            <a href="https://idjovem.juventude.gov.br">
                <img id="front-page-logo-client" src="assets/idjovem-logo.png"/>
            </a>
        </h1>

        <div fxFlex></div>
        
<!--
        <a id="front-page-link-dpg" href="http://www.dpgconsultoria.com.br/">
            <img id="front-page-logo-dpg" src="assets/dpg-logo.png"/>
        </a>
-->
    </div>
</mat-card>
<div fxLayout="row" fxLayoutAlign="space-between center" id="footer" style="max-width: 100%">
    <img style="max-width: 100%" src="assets/idjovem-rodape.png"/>
</div>

<!--
<div fxLayout="row" fxLayoutAlign="space-between center" id="footer">
    <span fxFlex></span>
    <a id="front-page-link-nyx" href="https://nyxk.com.br/">
        <img id="front-page-logo-nyx" src="assets/nyx-footer.png"/>
    </a>
</div>
-->
