<mat-card>
    <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center" id="main">
        <h1 class="text-center" fxLayout="row" fxLayoutAlign="space-between center">
            <img id="front-page-logo-insit" src="assets/insit_favicon-180x180.png"/>
            <div fxFlex fxLayout="column">
                <h2>InSit - Inteligência Situacional</h2>
                <h3>Painel de Situação</h3>
            </div>
<!--            <img id="front-page-logo-client" src="assets/rio-logo.svg"/>-->
        </h1>

        <a id="front-page-link-dpg" href="http://www.dpgconsultoria.com.br/">
            <img id="front-page-logo-dpg" src="assets/dpg-logo.png"/>
        </a>
    </div>
</mat-card>

<div fxLayout="row" fxLayoutAlign="space-between center" id="footer">
    <span fxFlex></span>
    <a id="front-page-link-nyx" href="https://nyxk.com.br/">
        <img id="front-page-logo-nyx" src="assets/nyx-footer.png"/>
    </a>
</div>
