<mat-card class="mat-typography">
    <h1>Sobre o Insit</h1>

<!--
    <p> Atualmente, a Prefeitura da Cidade do Rio de Janeiro (PCRJ) estrutura-se em 12 Secretarias Executivas, a Controladoria Geral, 
        a Procuradoria Geral e o Gabinete do Prefeito. Todos esses órgãos têm seus próprios sistemas de gestão de informação que agregam, 
        potencialmente dados e informação necessários para um gestão eficiente. Entretanto, esses sistemas não se integram e eventualmente 
        apresentam informações incompletas ou mesmo inconsistentes o que prejudica sobremaneira o processo de tomada de decisão do Prefeito
        e de seus secretários.</p>
-->
    
    <p> Este processo de tomada de decisão, para ser ótimo e efetivo, necessita dispor de uma ferramenta integrada de apoio à operações que
        congregue e integre dados atuais e confiáveis em um sistema único de inteligência.</p>
    
    <p> Desta forma, a fim de mitigar essa deficiência, faz-se necessário a adoção de um sistema integrado de Inteligência Situacional</p>

</mat-card>