.question-order {
    padding-left: 1em;
    padding-right: 0.5em;
}

.question-order:after {
    content: '.';
    
}

.question-handle {
    padding-right: 2.0em;
	cursor: move;
	cursor: -webkit-grabbing;
}

.question-desc { 
}