
<div class="banner">
 <div class="banner-cont">
    <div class="logo-argus">
       <img src="assets/images/logo-insit.png">
    </div><!-- END .logo-argus -->

    <div class="slogan-argus">
       <p>Inteligência Situacional</p>
    </div><!-- END .slogan-argus -->
 </div><!-- END .banner-cont -->

</div><!-- END .banner -->

<div class="cont">
 <nav class="menu-shape">
    <ul>
       <li>
          <a class="page-scroll menu-g" href="#insit">INSIT - Plataforma de Inteligência Situacional</a>
          <ul>
             <li><a class="page-scroll" href="#produto">Produto - O que é?</a></li>
             <li><a class="page-scroll" href="#p_caracteristica">Principais Caracteristicas</a></li>
             <li><a class="page-scroll" href="#infra">Infraestrutura - Sala de Situação</a></li>
          </ul>
       </li>
       <li>
          <a class="page-scroll menu-g" href="#s_modulo">Software - Módulos</a>
          <ul>
             <li><a class="page-scroll" href="#mapyx">MAPYX - Inteligência Geográfica</a></li>
             <li><a class="page-scroll" href="#eor">EOR - Controle de Atividades</a></li>
             <li><a class="page-scroll" href="#celox">CELOX - Embarcações</a></li>
             <li><a class="page-scroll" href="#p_met">Portal Meteorológico</a></li>
             <li><a class="page-scroll" href="#watcher">Watcher</a></li>
             <li><a class="page-scroll" href="#a_risco">Análise de Risco</a></li>
             <li><a class="page-scroll" href="#p_controle">Painel de Controle</a></li>
             <li><a class="page-scroll" href="#b_energetico">Balanço Energético</a></li>
          </ul>
       </li>
       <li>
          <a class="page-scroll menu-g" href="#mobile">Mobile</a>
       </li>
       <li>
          <a class="page-scroll menu-g" href="#cons">Considerações</a>
       </li>

    </ul>
 </nav><!-- END .menu-shape -->

 <section class="view-cont">

    <h1 id="insit">INSIT - Plataforma de Consciência Situacional</h1>

    <h2 id="produto">Produto - O que é?</h2>
        <p>A plataforma dispõe, como seu elemento central, de um sistema que integra os vários outros programas específicos existentes em um ambiente geograficamente referenciado, separado por camadas que permitem uma visualização dos aspectos de interesse e faz correlações que ajudarão nas tomadas de decisão, seja no combate à poluição ambiental, seja na preservação de vidas humanas.</p>

        <p>Todo o desenvolvimento e integração da tecnologia da informação ficou a cargo da <strong>NYX Knowledge</strong>, a partir de metodologia e conceitos patenteados pela <strong>CR Consult</strong>, responsável pelo treinamento e customização aos clientes. Portfolio, sistemas e soluções podem ser melhor visualizados pelo site <a href="http://www.nyxk.com.br" target="_blank">www.nyxk.com.br</a></p>

    <h2 id="p_caracteristica">Principais Caracteristicas</h2>
       <ul>
           <li>Plataforma aberta e compartilhada;</li>
            <li>Interface de Monitoramento Central, adequada para operação em ambiente de Sala de Situação, com visualização hierárquica da estrutura organizacional da empresa, com autenticação individualizada;</li>
            <li>Interface de Situação Geográfica, capaz de exibir e correlacionar dados operacionais e situacionais com informações de apoio georreferenciadas;</li>
            <li>Interface Web para operação e configuração por parte da equipe de monitoramento;</li>
            <li>Aplicação Mobile, multiplataforma (Android) para coleta de dados em campo e acompanhamento gerencial;</li>
            <li>O projeto tem mais de 90% de conteúdo local.</li>
       </ul>

    <h2 id="infra">Infraestrutura - Sala de Situação</h2>

     <p>As figuras a seguir mostram a Sala de Situação montada em uma grande empresa de logística nacional, que adotou a plataforma InSIT para a gestão de acompanhamento e monitoramento operacional de seus ativos.</p>

        <img src="assets/images/sala-cont-01.jpg" alt="">
        <img src="assets/images/sala-cont-02.jpg" alt="">

    <p>Além do Vídeo-Wall, cada tela é dotada de um computador independente, que atualiza as informações continuamente. </p>    

    <h1 id="s_modulo">Software - Módulos</h1>
    <p>O Sistema foi implementado de forma modular, a fim de diminuir o tempo de implementação, bem como permitir que alguns destes módulos pudessem funcionar autonomamente, em proveito das instalações e usuários.</p>


    <h2 id="mapyx">MAPYX - Inteligência Geográfica</h2>
    <h3>Grupos Temáticos (11):</h3>
    <p>Ativos; Divisões Políticas e Demarcações; Geografia; Geopolítico; Indicadores; Infraestrutura e Presença do Estado; Meio-Ambiente; Petróleo e Gás; Pontos de Apoio; Socioeconomia e Tempo e Clima.</p>
    <h3>Camadas Georeferenciadas (433):</h3>
    <p>Aeronaves em Vôo; Navios – navegando e fundeados; Distribuição Logística; Aeródromos e Helipontos; Saúde; Delegacias; Defesa Civil; Municípios; Clima; Relevo; Hotéis. Banco de Dados compilados de fontes oficiais (IPEA, IBAMA, IBGE etc) com agregação de camadas exclusivas. Confrontados e aferidos em 2015.</p>

    <img src="assets/images/apoio-decisao-controle-cenario.png" alt="">
    <p class="img-legend">Apoio a Decisão - Controle do Cenário</p>
    <img src="assets/images/apoio-decisao-analise-climatica-operacoes.png" alt="">
    <p class="img-legend">Apoio a Decisão - Análise Climática x Operações</p>

    <img src="" alt="">

    <h2 id="eor">EOR - Controle de Atividades</h2>

    <p>Acompanhamento on-line de atividades, com envio e visualização georeferenciada de mídias (vídeo, fotos, som e relatório). Muito utilizado por equipes de campo na operacionalização de eventos ou reparos, a fim de manter a matriz ciente de toda a implementação, evitando o ineficaz congestionamento via contato telefônico.</p>

    <img src="assets/images/eor.png" alt="">

    <h2 id="celox">CELOX - Embarcações</h2>

    <ul>
        <li><strong>Navegação:</strong> Acompanhamento e Controle;</li>
        <li><strong>Alarmes:</strong> Profundidade insuficiente avante; Entrada/Saída de Região Geográfica; Alteração anômala de Velocidade ou Rumo; Zona de Guarda; Checklist incompleto etc;</li>
        <li><strong>Pessoal:</strong> Embarque e Desembarque; Biometria etc;</li>
        <li><strong>Material:</strong> Entrada e Saída;</li>
        <li><strong>Comunicação:</strong> recebimento e envio de mensagens instantâneas, via satelital;</li>
    </ul>

    <img src="assets/images/celox.png" alt="">

    <h2 id="p_met">Portal Meteorológico</h2>

    <p>Solução Corporativa para a previsão meteorológica, a fim de prevenir incidentes causados direta ou indiretamente pelas variações climáticas nas suas diversas unidades.</p>

    <p>Características técnicas:</p>

    <ul>

        <li><strong>Portal na Internet</strong> - Criação e disponibilização de informações Georreferenciadas para consulta e acesso via Web;</li>
        <li><strong>Previsão Meteorológica:</strong> 24h / 7 dias por semana;</li>
        <li><strong>Apoio:</strong> Meteorologista de plantão com Telefone dedicado;</li>
        <li><strong>Atualização:</strong> Diária, incluindo finais de semana e feriados;</li>
        <li><strong>Produtos:</strong>
           <ul>
                <li>Chuva Acumulada (24 h, 72h, mês e ano);</li>
                <li>Ondas (altura significativa);</li>
                <li>Corrente (intensidade e direção);</li>
                <li>Temperaturas (máximas e mínimas);</li>
                <li>Visualização Animada da Onda, Chuva, Vento e Temperatura para 06 dias (subsídio para a Movimentação dos Navios);</li>
                <li>Gráficos de Séries Temporais;</li>
                <li>Risco de Desc Elétricas, Queimadas; etc</li>
           </ul>
        </li>
    </ul>
    <img src="assets/images/portal-meteorologico-01.png" alt="">



    <p>O Portal Meteorológico, por estar totalmente integrado ao sistema principal, permite a sobreposição das diversas camadas climáticas em conjunto com os ativos da Empresa.</p>

    <p>Desta forma, procura-se diminuir as incertezas e facilitar a visualização de riscos correntes e futuros, contribuindo para que o processo de tomada de decisão seja alimentado com informações precisas e oportunas.</p>

    <h2 id="watcher">WATCHER</h2>
    <p>Principais funcionalidades encontradas no Watcher:</p>
    <ul>
        <li>Monitoramento de mídia social;</li>
        <li>Análise de sentimento por meio de distribuição geográfica e temporal;</li>
        <li>Agrega dados de diversas fontes.</li>
    </ul>

    <img src="assets/images/watcher.png" alt="">

    <h2 id="a_risco">Análise de Risco</h2>

    <p>Análise de desvios, incidentes e acidentes confrontados com a Pirâmide de Byrd:</p>

    <img src="assets/images/analise-risco.png" alt="">

    <h2 id="p_controle">Painel de Controle</h2>

    <p>Predição e prevenção automática de situações de risco ou eminência de perigos ambientais e sociais, além de aprimorar a sistemática de combate hoje existente.</p>

    <p>Os processos são agrupados por Grupos Estruturantes e sua planificação pode ser feita individualmente ou agrupadas de acordo com a hierarquia da estrutura organizacional.</p>

    <img src="assets/images/painel-controle.png" alt="">

    <h2 id="b_energetico">Balanço Energético</h2>

    <p>Em face dos recentes aumentos no custo da energia, o balanço energético passou a ganhar destaque no gerenciamento das atividades dos diversos setores e unidades das empresas.</p>

    <p>O laudo inicial fornece uma visão holística por meio de: </p>

    <ul>
        <li>Análise de desvios, incidentes e acidentes confrontados com a Pirâmide de Byrd:</li>
        <li>Análise do faturamento de energia quanto à opção tarifária, consumo e demanda nos horários de ponta e fora de ponta.</li>
        <li>Análise do fator de carga dos motores elétricos.</li>
        <li>Análise do fator de potência.</li>
        <li>Análise do balanceamento de carga e do comportamento da demanda.</li>
        <li>Análise da corrente de fuga.</li>
        <li>Fornecimento de Anotação de Responsabilidade Técnica de Consultoria</li>
    </ul>

    <p>Consoante com a premissa de redução de custos, somada à confiança forjada em diversas implementações em unidades fabris e administrativas, os custos dos serviços ficam atrelados à cláusula de sucesso (percentual) da economia a ser obtida no primeiro ano após a implantação das nossas recomendações.</p>

    <p>Ademais, como inovação, toda a gestão do balanço energético pode ser acompanhada e monitorada pelo Painel de Controle da Plataforma InSIT, agregada com outros índices e métricas de gestão. </p>

    <p>Desta forma, ocorre uma translação na atitude da Empresa, deixando de ser passiva frente aos elevados e recorrentes aumentos dos insumos autorizados pelos órgãos públicos, passando a adotar uma postura proativa e efetiva na redução dos custos.</p>

    <h1 id="mobile">Mobile</h1>

    <p>O Módulo MOBILE é uma das grandes inovações da plataforma InSIT, pois disponibiliza através de app, ponto de inserção de dados remotos, com tarefas diversas, a saber:</p>

    <ul>
        <li>Inteligência Geográfica: visualização e integração das 433 camadas georreferenciadas, distribuídas ao longo dos 11 grupos temáticos;</li>
        <li>Mídias: envio de filmes, fotos e sons georreferenciados, que automaticamente serão visualizados no painel de controle e indicarão qual a estrutura de resposta indicada;</li>
        <li>Contingências: classificação automática;</li>
        <li>Primeiros Socorros: indicação do tratamento adequado, quando da ocorrência de algum acidente;</li>
        <li>Ficha de Produtos Químicos: indicação dos procedimentos em função de cada produto químico, tais como: EPI; abordagem; cuidados especiais etc;</li>
    </ul>

    <p>O Módulo MOBILE permite obter total transparência na gestão das atividades gerenciais e operacionais, independente do local onde o gestor se encontre. </p>

    <p>Obtendo sinal celular, as atualizações são instantâneas, incluindo o envio de alertas visuais, sonoros, via app ou SMS.</p>

    <p>O aplicativo funciona em qualquer smartphone com sistema operacional Android.</p>

    <p>Outrossim, em caso de necessidade de utilização em ambientes insalubres, foi testado com sucesso a utilização da app em toughpad robustecido. Opera embaixo d´água e óleo (3 m), bem como é extremamente resistente estruturalmente contra quedas. Aprovada sua operação em ambiente com presença de gases inflamáveis (sem risco de explosão).</p>


    <img src="assets/images/mobile-01.png" alt="">
    <p class="img-legend">App Mobile</p>
    <img src="assets/images/mobile-02.png" alt="">
    <p class="img-legend">Toughpad</p>

    <h1 id="cons">Considerações</h1>

    <p>Fruto de experiências bem sucedidas amealhadas, com a consequente parametrização de rotinas e procedimentos, a customização e decorrente implementação de toda a infraestrutura e módulos pode ser feita em curto período.</p>

    <p>Cabe ressaltar que a Plataforma se adequa às necessidades de cada Empresa, podendo ser instalados somente alguns módulos ou integralmente. </p>

    <p>O propósito que norteou a concepção da Plataforma foi o de não fazer mais do mesmo, mas sim fazer mais de forma diferente, realizando gestão integrada de riscos de diversas áreas e seus respectivos ativos críticos.</p>

    <p>Em face do exposto, fica demonstrado que a Plataforma InSIT não é um projeto para desenvolvimento, mas sim uma realidade, amplamente testada e robustecida, capaz de prover à Alta Administração das Empresas uma ampla <strong>Consciência Situacional</strong> nos mais diversos temas estratégicos ou operacionais.</p>
    <br/><br/>
    <div class="copyright">
        <p>Proibida a distribuição e reprodução total ou parcial deste conteúdo sem a permissão expressa dos autores:</p>
        <p><strong>NYX Knowledge Informatica Ltda.</strong></p>
        <p><strong>DPG Consultoria Ltda.</strong></p>
    </div>
 </section><!-- END #view-cont -->

</div><!-- end .cont -->
