<mat-card>
    <mat-list>
        <mat-list-item>
            <strong fxFlex="10%">Avaliação</strong>
            <strong fxFlex="10%">Adesão</strong>
            <strong fxFlex="10%">Inscritos</strong>
            <strong fxFlex="10%">Total</strong>
            <strong fxFlex="20%">Situação</strong>
            <strong>Unidade Federativa</strong>
        </mat-list-item>

        <mat-list-item *ngFor="let a of orgsit"
                       [ngStyle]="{'background-color': a.bgColor, 'color': a.fgColor}"
                       class="status-eval-item">
            <span fxFlex="10%">{{a.grade}}</span>
            <span fxFlex="10%">{{a.adesao | number: '1.2-2'}}%</span>
            <span fxFlex="10%">{{a.inscritos}}</span>
            <span fxFlex="10%">{{a.total}}</span>
            <span fxFlex="20%">{{a.message}}</span>
            <a [routerLink]="['/org/'+a.org_id]"
               [ngStyle]="{'color': a.fgColor}">{{a.org_name}}</a>
        </mat-list-item>

    </mat-list>
</mat-card>